{% extends "base.html" %}

{% block content %}
    <div class="general-wrapper">
         <h1> About me</h1>
        <hr>
        <div id="about-image">
            <img src="/static/mebike.png"/>
        </div>
        <div id="about-me">
        My name is Eamon Kavanagh.  I was born and raised in New York and recently graduated 
        from the University of British Columbia with a M.Sc in Mathematics where my thesis 
        focused on a chemotaxis model that you can read a bit more about here.
        I graduated summa cum laude from McMaster with a B.Sc (Hon) in Mathematics.
        </div>
        <br>
        <p>
        Right now I'm pursuing a career in data science.  I like the fact that
        it's a burgeoning industry with a lot of uncharted terrain, where the amount of
        information we can wring from data is limited purely by creativity.
        I'm motivated by the recent successes of
        <a href="http://online.wsj.com/news/articles/SB125200842406984303">Palantir</a>,
        <a href="http://www.google.org/flutrends/" target="_blank">Google Flu Trends</a>
        and the
        <a href="http://en.wikipedia.org/wiki/Netflix_Prize" target="_blank">Netflix Prize</a>
        which all took novel approaches (fraud detection, search result trends, 
        crowd sourcing) to solve complex problems.  Even in Google Flu Trends  
        <a href="http://time.com/23782/google-flu-trends-big-data-problems/" target="_blank">
        more recent failings</a> or Netflix's 
        <a href="http://www.forbes.com/sites/ryanholiday/2012/04/16/what-the-failed-1m-netflix-prize-tells-us-about-business-advice/" 
        target="_blank">decision to not implement</a> the winning algorithm there's a lot 
        to be learned.  How much can we really say when the data we source evolves
        to our very predictions?  How do we build a robust system that can handle the
        growing amount of information we would ideally like to throw at it?  These
        high-profile setbacks have inspired me to think critically about the field and its 
        possibilities.  The power of the tool is obvious but how do we make it work for us?
        </p>
        In my free time I like to play squash, take care of my plants, read, make pizza dough
        and go on the occasional bike tour.  In the summer of 2011 I rode a bicycle
        across the United States with a good friend of mine. We kept a photo journal
        of the trip which you can read about
        <a href="http://gowestym.wordpress.com/" target="_blank">here</a>.
        <br><br><br>
        <h1>About the blog</h1>
        <hr>
        <p>
        This blog is a place for me to demonstrate skills I' learned and projects 
        I've worked on.  It's a digital portfolio and a project in itself: before 
        starting this, I had no experience with web development and look at me now.
        Thanks for stopping by and enjoy your stay.
        </p>
        All of the code mentioned on the blog including the blog itself can be seen 
        on my github page <a href="https://github.com/EamonKavanagh" target="_blank">here</a>.
        <br><br><br><br>
    </div>

{% endblock %}