<!DOCTYPE html>
<html>
<head>

    <link type = "text/css" rel="stylesheet" href="/static/main.css"/>
    <title>Blog</title>
    
    <script
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
    type="text/javascript">
    </script>
    
    <link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
    
</head>

<body>

    <div id="top-bar">
    
         <div class="login-area">
            {% if user %}
            {{user.username}} (<a class="login-link" href="/blog/logout">logout</a>)
            {% else %}
            <a class="login-link" href="/blog/login">login</a>
            |
            <a class="login-link" href="/blog/signup">signup</a>
            {% endif %}
        </div>
    
    </div>
    
    <div id="content">
    <div id="header">
    
        <div id="main-title">
            <a id="main-link" href="/blog/">
            \(e^{\pi i} = -1\)
            </a>
         </div>
     
        <div class="link-bar"></div>
        <ul id="nav-bar">
            <li class="nav-bar-buttons">
            <a href="/blog/" class="nav-button-link" id="first-nav-button">Home</a>
            </li>
            <li class="nav-bar-buttons">
            <a href="/blog/archives" class="nav-button-link">Archives</a>
            </li>
            <li class="nav-bar-buttons">
            <a href="/blog/about" class="nav-button-link">About</a>
            </li>
            <li class="nav-bar-buttons">
            <a href="/blog/contact" class="nav-button-link">Contact</a>
            </li>
        </ul>
        <div class="link-bar"></div>
    
    </div>
    
        {% block content %}
        {% endblock %}
        
    </div>
    
    
</body>

</html>

