{% extends "base.html" %}

{% block content %}

    {% for post in posts %}
        <section>
            <div id="post-image"></div> 
            <div id="post">   
                <a id="post-title" href={{"/blog/%d"%post.key().id()}}>{{post.subject}}</a>
                <div id="post-date">{{post.created.strftime("%b %d, %Y")}}</div>
                <p id="post-content">{{post.content}}</p>
                <a id="post-link" href={{"/blog/%d"%post.key().id()}}>Read More</a>
            </div>
            
        </section>
        <div id="post-separator"></div>
        
    {% endfor %}


{% endblock %}