{% extends "base.html" %}

{% block content %}
    <link type = "text/css" rel="stylesheet" href="/static/noscroll.css"/>
    <div class="login-form">
    <h1>Login</h1>
    <form method="post">
        <input type="text" name="username" placeholder="Username" value="{{username}}">
        <br>
        <input type="password" name="password" placeholder="Password">
        <br>
        <div class="error">{{error}}</div>
        <input type="submit" value="Submit">
    </div>
    <br><br><br><br>
            
{% endblock %}