{% extends "base.html" %}

{% block content %}
<div class="general-wrapper">
    <form method="post">
        <label>
            <div>Title</div>
            <input type="text" name="subject" value="{{subject}}">
        </label>
        <br>
        <label>
            <div>Post Image</div>
            <input type="text" name="image" value="{{image}}">
        </label>
        <br>
        <label>
            <div>Body</div>
            <textarea name="content">{{content}}</textarea>
        </label>
        <br>
        <div class="error">{{error}}</div>
        <br>
        <input type="submit" value="Submit">
</div>
{% endblock %}