{% extends "base.html" %}

{% block content %}
    <div class="general-wrapper">
    <h1>{{subject}}</h1>
    <hr>
    <div class="post-content">{{content}}</div>
    <br><br>
    <div id="comment-separator"></div>
    <h2>Comments</h2>
    {% if user %}
        <form method="post">
            <textarea id="comment-textarea" name="comment"></textarea>
            <input type="submit" value="Submit">
            <br><br>
    {% endif %}
    {%  for comment in comments %}
        <div id="comment-wrapper">
        <h3 style="color: #800000">{{comment.commenter}}</h3>
        <div id="comment-date">{{comment.created.strftime("%b %d, %Y")}}</div>
        <div id="comment">{{comment.comment}}</div>
        <br><br>
        <hr>
        </div>
        
    {% endfor %}
    </div>
    
    
{% endblock %}